@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Mulish", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #f8f8f8;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  margin-top: 20px;
  text-align: center;
  color: #f78b1f;
  font-size: 26px;
  font-weight: 500;
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.623);
  font-size: 20px;
  font-weight: 500;
}

.navbar-index {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.623);
  font-size: 20px;
  font-weight: 500;
}

.navbar-index img{
  width: 200px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.navbar .sair{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.navbar img {
  width: 200px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 45%;
}

.navbar a{
    transition: all 0.3s;
}

.navbar a:hover{
    transform: scale(1.02);
    transition: all 0.3s;
}

.navbar-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  font-size: 18px;
  font-weight: 600;
}

.navbar .sair button{
  width: 40%;
  height: 30px;
  background-color: #fff;
  color: #005594;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.navbar .sair button:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  background-color: #f78b1f;
  color: #fff;
}

.navbar .sair button a{
  color: #005594;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
}

.container-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  list-style: none;
  margin-right: 0.5rem;
}

.menu li a {
  margin: 0 1rem;
  color: #005594;
  text-decoration: none;
  transition: all 0.3s;
}

.menu li a:hover {
  color: #f78b1f;
  font-size: 19px;
  transition: all 0.3s;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 60px;
}

.container-footer p {
  margin: 0;
}

.container-footer p span {
  color: #f78b1f;
}

.login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.senha{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 55vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #f8f8f8;
  z-index: 5;
}

.formulario-senha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 65vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #f8f8f8;
  margin-top: 2%;
  z-index: 5;
}

.cadusuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 65vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #f8f8f8;
  margin-top: 2%;
  z-index: 5;
}

.formulario h1,
.formulario-senha h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 40px;
  color: #f78b1f;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.cadusuario h1 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
  color: #f78b1f;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.formulario form,
.formulario-senha form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 20px;
  padding: 20px;
}

.cadusuario form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 20px;
  padding: 20px;
}

.formulario form label,
.formulario-senha form label,
.cadusuario form label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.formulario form input,
.formulario-senha form input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.formulario form textarea {
  width: 100%;
  height: 100px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 10px;
}

.formulario form button,
.formulario-senha form button {
  width: 30%;
  height: 50px;
  margin-left: 35%;
  background-color: #fff;
  color: #005594;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.cadusuario form button {
  width: 60%;
  height: 50px;
  margin-left: 20%;
  background-color: #fff;
  color: #005594;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.cadusuario form input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.formulario form button:hover,
.formulario-senha form button:hover,
.cadusuario form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  background-color: #f78b1f;
  color: #fff;
}

.reset-senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.senha-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.reset-senha a,
.senha-btn a{
    color: #005594;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
}

.reset-senha a:hover,
.senha-btn a:hover{
    color: #f78b1f;
    transition: all 0.5s;
    transform: scale(1.02);
}

.cursos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cursos-disponiveis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.cursos-disponiveis h1{
    margin-top: 20px;
    text-align: center;
    color: #f78b1f;
    font-size: 28px;
    font-weight: 800;
}

.cursos-lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.cursos-lista ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.cursos-lista ul li{
    list-style: none;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.cursos-lista ul li h1{
    width: 60%;
    height: 10%;
    margin-top: 20px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s;
    cursor: pointer;
}

.cursos-lista ul li h2{
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #005594;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.cursos-lista ul li p{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.cursos-lista ul li h3{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f78b1f;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.cursos-lista ul li button{
    width: 10%;
    height: 40px;
    background-color: #fff;
    color: #005594;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.cursos-lista ul li button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    background-color: #f78b1f;
    color: #fff;
}

.cursos-inscricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.cursos-inscricao h1{
    margin-top: 20px;
    text-align: center;
    color: #f78b1f;
    font-size: 28px;
    font-weight: 800;
}

.formulario-curso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 50vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: 36px;
  background-color: #f8f8f8;
  z-index: 5;
}

.formulario-curso h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 40px;
  color: #f78b1f;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
}

.formulario-curso form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 20px;
  padding: 20px;
}

.formulario-curso form label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.formulario-curso form input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.formulario-curso form select,
.cadusuario form select {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.formulario-curso form button {
  width: 40%;
  height: 50px;
  margin-left: 30%;
  background-color: #fff;
  color: #005594;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.formulario-curso form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  background-color: #f78b1f;
  color: #fff;
}

.contato{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato h1{
    margin-top: 40px;
    text-align: center;
    color: #f78b1f;
    font-size: 28px;
    font-weight: 800;
}

.contato-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.avaliacao{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-top: 20px;
}

.avaliacao .avaliacao-doe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 3%;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avaliacao .avaliacao-doe div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.avaliacao .avaliacao-doe div img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.avaliacao .avaliacao-doe .info-pessoa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 67%;
    height: 100%;
    gap: 10px;
}

.avaliacao .avaliacao-doe .info-pessoa h1{
    margin-right: 80%;
    color: #f78b1f;
    font-size: 28px;
    font-weight: 700;
}

.avaliacao .avaliacao-doe .info-pessoa p{
    margin-right: 5%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5%;
}

.avaliacao .avaliacao-carlos{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 3%;
  border-radius: 15px;
  margin-left: 45%;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avaliacao .avaliacao-carlos div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.avaliacao .avaliacao-carlos div img{
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.avaliacao .avaliacao-carlos .info-pessoa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 67%;
  height: 100%;
  gap: 10px;
}

.avaliacao .avaliacao-carlos .info-pessoa h1{
  margin-left: 87%;
  color: #f78b1f;
  font-size: 28px;
  font-weight: 700;
}

.avaliacao .avaliacao-carlos .info-pessoa p{
  margin-left: 5%;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-align: end;
  margin-bottom: 5%;
}

.contato-content .contato-text{
  margin-top: 30px;
  border-top: 1px solid #c8c8c8;
}

.formulario-contato{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: 40px;
  background-color: #f8f8f8;
  z-index: 5;
}

.formulario-contato form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 20px;
  padding: 20px;
}

.formulario-contato form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f78b1f;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.formulario-contato form label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.formulario-contato form input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.formulario-contato form textarea {
  width: 100%;
  height: 50px;
  padding: 15px 10px;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

.formulario-contato form button {
  width: 40%;
  height: 50px;
  margin-left: 30%;
  background-color: #fff;
  color: #005594;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.formulario-contato form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  background-color: #f78b1f;
  color: #fff;
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  outline: 0;
  display: none;
}

.toast .toast-container.toast-centered {
  min-height: calc(100% - 3.5rem)
}

.toast .toast-container {
  display: flex;
  margin: 1.75rem auto;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

.toast .toast-container .toast-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 20px;
  outline: 0;
}

.toast .toast-container .toast-content .toast-h {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.toast .toast-container .toast-content .toast-h h5 {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.toast .toast-container .toast-content .toast-h i {
  cursor: pointer;
  transform: scale(1.5);
}

.toast .toast-container .toast-content .toast-b {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.toast .toast-container .toast-content .toast-b ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.toast .toast-container .toast-content .toast-b ul li {
  list-style: disc;
  font-family: 'Open Sans',sans-serif;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.toast .toast-container .toast-content .toast-b ul li p {
  font-family: 'Open Sans',sans-serif;
  color: #727272;
}

.toast .toast-container .toast-content .toast-b ul .obs-content p {
  font-family: 'Open Sans',sans-serif;
  font-style: italic;
  color: #727272;
  font-size: 14px;
  margin-top: 10px;
}

.painel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.painel h1{
  margin-top: 30px;
  text-align: center;
  color: #f78b1f;
  font-size: 28px;
  font-weight: 800;
}

.painel h2{
  margin-top: 15px;
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.painel p{
  margin-top: 10px;
  text-align: center;
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 400;
}

.sobre-senac{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 2%;
  border-radius: 15px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sobre-senac div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.sobre-senac img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.sobre-senac .info-senac{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.sobre-senac .info-senac h1{
  margin-top: 20px;
  color: #727272;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
}

.sobre-senac .info-senac p{
  margin-top: 10px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  margin-right: 5%;
}

.forum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.forum h1{
  margin-top: 40px;
  text-align: center;
  color: #f78b1f;
  font-size: 28px;
  font-weight: 800;
}

.forum-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.forum-content div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 20px;
  border-radius: 15px;
  margin-top: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.forum-content div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 2px solid #c8c8c8;
}

.forum-content div h3{
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.boletim{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.boletim h1{
  margin-top: 40px;
  text-align: center;
  color: #f78b1f;
  font-size: 28px;
  font-weight: 800;
}

.boletim-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 11%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.boletim-content h2{
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  border-bottom: 2px solid #c8c8c8;
}

.boletim-content-notas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.boletim-content-notas div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 3%;
}

.boletim-content-notas div h3, h4, h5, h6{
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}